{% extends 'base.html' %}


{% block conteudo %}


    <div class="cover-container cliente  row gy-4 position-relative">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div id="alertCpf" class="alert alert-success justify-content-center d-flex py-2 px-3 position-absolute top-0 start-0 mt-1 d-none" role="alert" style="z-index: 1000;">
            <svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                CPF copiado!
            </div> 
        </div>
        <div id="alertTelefone" class="alert alert-success justify-content-center d-flex py-2 px-3 position-absolute top-0 start-0 mt-1 d-none" role="alert" style="z-index: 1000;">
            <svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                Telefone copiado!
            </div> 
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nome:</label>
            <h3>{{cliente.nome}}</h3>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="message-text" class="col-form-label">CPF:</label>
                <h3><a  href="#" id="cpfText">{{cliente.cpf}}</a></h3>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Celular 1:</label>
                <h3><a id="telText" href="https://wa.me/55{{cliente.celular1}}" target="_blank">{{cliente.celular1}}</a> <a href="#" id="copiaTelefone"><i class="bi bi-copy"></i></a></h3>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Celular 2:</label>
                <h3>{{cliente.celular2}}</h3>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Data de Nascimento:</label>
                <h3>{{cliente.data_nascimento.strftime('%d/%m/%Y')}}</h3>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Data de Atualização:</label>
                <h3>{{cliente.data_consulta.strftime('%d/%m/%Y')}}</h3>
            </div>
        </div>
        <div class=" justify-content-end">

            <div class="col-auto">
                <button  onclick="window.location.href='/'" class="btn btn-success">Nova Consulta</button>
            </div>
        </div>  

    </div>


{% endblock %}
