    {% extends 'base.html' %}


	{% block conteudo %}
      <div class="cover-container">
        <h1>Consultar cliente</h1>
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tipo de Busca</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Telefone</a></li>
            <li><a class="dropdown-item" href="#">CPF</a></li>
          </ul>
          <input type="text" class="form-control" aria-label="Text input with dropdown button">
        </div>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Consultar</a>
        </p>
      </div>
	{% endblock %}