{% extends 'base.html' %}


{% block conteudo %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">CPF</th>
        <th scope="col">Nome</th>
        <th scope="col">Celular 1</th>
		    <th scope="col">Celular 2</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Data de Atualização</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody id="lista-clientes">

        {% for cliente in clientes %}
            {% include 'item_cliente.html' %}
        {% endfor %}

    </tbody>
  </table>

  <a href="{{ url_for('cliente.adicionar_cliente') }}" class="btn btn-primary btn-lg rounded-circle shadow fab" >
	  <i class="bi bi-plus"></i>
  </a>




  {% endblock %}